/ExercicioOperadoresAritmeticos1/nbproject/private/
/ExercicioOperadoresAritmeticos1/build/
/ProgramaMedia/nbproject/private/
/ProgramaMedia/build/
/ProgramaIdade/nbproject/private/
/ProgramaIdade/build/
